 <!DOCTYPE html>
 <html>
 <head>
     <meta charset="utf-8">
     <title>smarty test1</title>
 </head>
 <script type="text/javascript">
 function confirmDel(id){
    if(window.confirm('删除?')){
      location.href="?c=Index&a=delete&id="+id;
    }
 }
</script>
 <body>
   <table width="600" border="1" bordercolor="#ccc"
    align="center" rules="all" cellpadding="2">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>操作</th>
    </tr>
   <{foreach $arrs as $arr}>
     <tr align="centor">
     <td><{$arr.id}></td>
     <td><{$arr.name}></td>
     <td>
       <a href="javascript::void(0)">修改</a>
       <a href="javascript:void(0)" onClick="confirmDel(<{$arr.id}>)">删除</a>
     </td>
     </tr>
   <{/foreach}>
   </table>
 </body>
 </html>
