  <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">用户管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">padding1</a></dd>
            <dd><a href="javascript:;">padding2</a></dd>
            <dd><a href="javascript:;">padding3</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <!-- li 是列表-->
        <li class="layui-nav-item">
            <!--列表的超链接是列表-->
          <a href="javascript:;">帖子管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">padding1</a></dd>
            <dd><a href="javascript:;">padding2</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">评论管理</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">padding1</a></dd>
            <dd><a href="javascript:;">padding2</a></dd>
            <dd><a href="">超链接</a></dd>
        </dl>
      </ul>
    </div>
  </div>
